.DS_Store
node_modules/
package-lock.json
vendor/
composer.lock
/dist
.env
resources/markdown/13.x
tests/report.json
/public/build
/public/hot
/public/snippet-worker
/public/laravel.zip
/public/laravel-docs.css
/public/laravel-docs-assets/
/public/storage
